
* {
  margin: 0;
  padding: 0;
}

.nav-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #6082B6;
  height: 4rem;
  padding: 1rem;

}

.header--header {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header--header > * {
  margin: 0.25rem;
}

.target--logo {
  width: 3rem;
  height: 3rem;
  
}

.header {
  font-family: monospace;
  font-size: 3rem;
}

